# Node modules
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/*.sqlite

# Vercel
.vercel/

# IDE files
.vscode/
.idea/

# Misc
*.local
